// Geometri settings of the ".container" auxiliary class, intended for centering and limiting the content of site elements in width.
.container {
    // General geometry
    margin: 0 auto 0 auto;
    padding: 0 15px 0 15px;

    // outline: 1px solid tomato;

    // Changing geometry by Breakpoint (480px)
    @media screen and (min-width: $mobile) {
        // Breakpoint geometry
        width: 480px;
    }

    // Changing geometry by Breakpoint (768px)
    @media screen and (min-width: $tablet) {
        // Breakpoint geometry
        width: 768px;
    }

    // Changing geometry by Breakpoint (1200px)
    @media screen and (min-width: $desktop) {
        // Breakpoint geometry
        width: 1200px;
    }
}