<section>
  <div class="container client__container">
    <h2 class="section-title">Постійні клієнти</h2>
    <ul class="client-list">
      <li class="client-list__item">
        <a
          class="client-list__link link"
          href="#"
          title="YA & CO"
          rel="noreferrer noopener nofollow"
        >
          <svg width="106px" height="60px">
            <use href="./images/icons.svg#icon-client_logo_1"></use>
          </svg>
        </a>
      </li>

      <li class="client-list__item">
        <a
          class="client-list__link link"
          href="#"
          title="Tagline here Company"
          rel="noreferrer noopener nofollow"
        >
          <svg width="106px" height="60px">
            <use href="./images/icons.svg#icon-client_logo_2"></use>
          </svg>
        </a>
      </li>

      <li class="client-list__item">
        <a
          class="client-list__link link"
          href="#"
          title="COMPANY"
          rel="noreferrer noopener nofollow"
        >
          <svg width="106px" height="60px">
            <use href="./images/icons.svg#icon-client_logo_3"></use>
          </svg>
        </a>
      </li>

      <li class="client-list__item">
        <a
          class="client-list__link link"
          href="#"
          title="FOSTER PETERS"
          rel="noreferrer noopener nofollow"
        >
          <svg width="106px" height="60px">
            <use href="./images/icons.svg#icon-client_logo_4"></use>
          </svg>
        </a>
      </li>

      <li class="client-list__item">
        <a
          class="client-list__link link"
          href="#"
          title="BRAND"
          rel="noreferrer noopener nofollow"
        >
          <svg width="106px" height="60px">
            <use href="./images/icons.svg#icon-client_logo_5"></use>
          </svg>
        </a>
      </li>

      <li class="client-list__item">
        <a
          class="client-list__link link"
          href="#"
          title="TAG LINE Company"
          rel="noreferrer noopener nofollow"
        >
          <svg width="106px" height="60px">
            <use href="./images/icons.svg#icon-client_logo_6"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
