<section>
  <div class="container peculiarities__conteainer">
    <h2 class="section-title visually-hidden">Особливості нашої робори</h2>
    <!-- This 'section-title' is "hidden" because it's not in the layou -->
    <ul class="peculiarities-list">
      <li class="peculiarities-list__item">
        <div class="peculiarities-list__decor">
          <svg width="70px" height="70px">
            <use href="./images/icons.svg#icon-antenna"></use>
          </svg>
        </div>
        <h3 class="peculiarities-list__title">Увага до деталей</h3>
        <p class="peculiarities-list__text">
          Ідейні міркування, і навіть початок повсякденної роботи з формування
          позиції.
        </p>
      </li>

      <li class="peculiarities-list__item">
        <div class="peculiarities-list__decor">
          <svg width="70px" height="70px">
            <use href="./images/icons.svg#icon-clock"></use>
          </svg>
        </div>
        <h3 class="peculiarities-list__title">Пунктуальність</h3>
        <p class="peculiarities-list__text">
          Завдання організації, особливо рамки і місце навчання кадрів тягне у
          себе.
        </p>
      </li>

      <li class="peculiarities-list__item">
        <div class="peculiarities-list__decor">
          <svg width="70px" height="70px">
            <use href="./images/icons.svg#icon-diagram"></use>
          </svg>
        </div>
        <h3 class="peculiarities-list__title">Планування</h3>
        <p class="peculiarities-list__text">
          Так само консультація з широким активом значною мірою зумовлює.
        </p>
      </li>

      <li class="peculiarities-list__item">
        <div class="peculiarities-list__decor">
          <svg width="70px" height="70px">
            <use href="./images/icons.svg#icon-astronaut"></use>
          </svg>
        </div>
        <h3 class="peculiarities-list__title">Сучасні технології</h3>
        <p class="peculiarities-list__text">
          Значимість цих проблем настільки очевидна, що реалізація планових
          завдань.
        </p>
      </li>
    </ul>
  </div>
</section>
