<section class="work">
  <div class="container work__container">
    <h2 class="section-title">Чим ми займаємося</h2>
    <ul class="work-list">
      <li class="work-list__itm">
        <picture>
          <source
            srcset="
              ./images/work/1/what_we_do-1_1x.webp 1x,
              ./images/work/1/what_we_do-1_2x.webp 2x,
              ./images/work/1/what_we_do-1_3x.webp 3x
            "
            type="image/webp"
          />
          <img
            srcset="
              ./images/work/1/what_we_do-1_1x.jpg 1x,
              ./images/work/1/what_we_do-1_2x.jpg 2x,
              ./images/work/1/what_we_do-1_3x.jpg 3x
            "
            src="./images/work/1/what_we_do-1_1x.jpg"
            alt="Складаємо алгоритми та пишимо код сайтів"
            width="370"
          />
        </picture>
        <div class="work-list__label">
          <h3 class="work-list__title">Десктопні додатки</h3>
        </div>
      </li>

      <li class="work-list__itm">
        <picture>
          <source
            srcset="
              ./images/work/2/what_we_do-2_1x.webp 1x,
              ./images/work/2/what_we_do-2_2x.webp 2x,
              ./images/work/2/what_we_do-2_3x.webp 3x
            "
            type="image/webp"
          />
          <img
            srcset="
              ./images/work/2/what_we_do-2_1x.jpg 1x,
              ./images/work/2/what_we_do-2_2x.jpg 2x,
              ./images/work/2/what_we_do-2_3x.jpg 3x
            "
            src="./images/work/2/what_we_do-2_1x.jpg"
            alt="Адаптуємо відображення сайтів"
            width="370"
          />
        </picture>
        <div class="work-list__label">
          <h3 class="work-list__title">Мобільні додатки</h3>
        </div>
      </li>

      <li class="work-list__itm">
        <picture>
          <source
            srcset="
              ./images/work/3/what_we_do-3_1x.webp 1x,
              ./images/work/3/what_we_do-3_2x.webp 2x,
              ./images/work/3/what_we_do-3_3x.webp 3x
            "
            type="image/webp"
          />
          <img
            srcset="
              ./images/work/3/what_we_do-3_1x.jpg 1x,
              ./images/work/3/what_we_do-3_2x.jpg 2x,
              ./images/work/3/what_we_do-3_3x.jpg 3x
            "
            src="./images/work/3/what_we_do-3_1x.jpg"
            alt="Оптимізуємо кольорове відображення дизайну сайтів"
            width="370"
          />
        </picture>
        <div class="work-list__label">
          <h3 class="work-list__title">Дизайнерські рішення</h3>
        </div>
      </li>
    </ul>
  </div>
</section>
