// Common body parameters of all site pages
body {
    background: var(--maine-background-color);
    color: var(--maine-text-color);
    font-family: $fontFamily;
    letter-spacing: 0.03em;
}

//Helper class for JavaScript code in 'modal.js' & 'mobile-menu.js' files - for stop scrolling page, when Modal-Window or Mobile-Menu open.
.no-scroll {
    overflow: hidden;
}